.resume-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  padding-top: 6rem;
  text-align: center;
}

.text-container {
  width: 50%;
  width: 100%;
}
.text-container__title {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 800;
}
.text-container__subtitle {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.text-container__button {
  padding: 2rem;
  font-weight: bolder;
  color: white;
  background-color: var(--orange);
  font-size: 2.6rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.chart-container {
  width: 50%;
  width: 100%;
  /* background-color: var(--white); */
}

@media screen and (max-width: 600px) {
  .char-container,
  .text-container {
    width: 100%;
    margin-bottom: 4rem;
  }
  .resume-container {
    flex-wrap: wrap;
  }
  .text-container__title {
    font-size: 3rem;
  }
  .text-container__subtitle {
    font-size: 2rem;
  }
  .text-container__button {
    padding: 1rem;
    font-size: 2rem;
  }
}
