.resume-container {
  width: 100%;
  padding: 2rem;
  display: grid;
  padding-top: 6rem;
  text-align: center;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 4rem;
}

.text-container {
  width: 100%;
}
.text-container__title {
  font-size: 4rem;
  margin-bottom: 3rem;
  font-weight: 800;
}
.text-container__subtitle {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
.text-container__button {
  padding: 2rem;
  font-weight: bolder;
  color: white;
  background-color: var(--orange);
  font-size: 2.6rem;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.chart-container {
  width: 50%;
  width: 100%;
}
.text-container__title--inform {
  font-size: 3rem;
}
.text-container__subtitle--inform {
  font-size: 2rem;
  margin: 2rem;
}
.text-container p {
  font-size: 1.6rem;
}
@media screen and (max-width: 600px) {
  .char-container,
  .text-container {
    width: 100%;
    margin-bottom: 4rem;
  }
  .resume-container {
    grid-template-columns: 1fr;
  }
  .text-container__title {
    font-size: 3rem;
  }
  .text-container__subtitle {
    font-size: 2rem;
  }
  .text-container__button {
    padding: 1rem;
    font-size: 2rem;
  }
}
