.header-container {
  height: 7rem;
  background-color: var(--black-opacity);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 1rem;
}
.header-container__options {
  height: inherit;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.header-container__option {
  font-size: 2rem;
  margin-right: 5rem;
  font-weight: 500;
}
.header-container__option a {
  color: var(--white);
  text-decoration: none;
}
.header-container__icon {
  width: 80px;
  height: 50px;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .header-container {
    justify-content: center;
  }
  .header-container__options {
    display: none;
  }
  .header-container__icon {
    display: block;
  }
}
