body {
  background-color: rgb(240, 233, 233);
}
main {
  margin: 40px 50px 10px 50px;
  padding: 20%, 30%, 40%, 10%;
  background-color: var(--black-opacity);
}
.main-container {
  padding: 3rem;
}
.main-container__title,
.main-container__subtitle,
.main-container__phrase {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 20px;
}
.main-container__title {
  font-size: 3rem;
}
.main-container__subtitle {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.main-container__phrase {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.form {
  margin-top: 60px;
  display: flex;
  margin-top: 90px;
  margin-bottom: 90px;
}
.form__input {
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 250px;
  margin-right: 7px;
}
.form__input:hover {
  border: solid 1px var(--orange);
}
.form__input::placeholder {
  font-size: 1.6rem;
}
.form__button {
  padding: 16px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  box-sizing: border-box;
  margin-left: 60px;
  width: 215px;
}
.form__button:hover {
  background-color: var(--light-orange);
}
@media screen and (max-width: 600px) {
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .form {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .form__input {
    margin-bottom: 10px;
  }
  .form__button {
    margin-left: 0;
  }
}
