body {
  background-color: rgb(240, 233, 233);
}
main {
  margin: 40px 50px 10px 50px;
  padding: 20%, 30%, 40%, 10%;
  background-color: var(--black-opacity);
}
.main-container {
  padding: 3rem;
}
.main-container h1,
h4,
h6 {
  color: var(--white);
  font-weight: 500;
  margin-bottom: 20px;
}
.main-container h1 {
  font-size: 3rem;
}
.main-container h4 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}
.main-container h6 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.main-container form {
  margin-top: 60px;
  display: flex;
  margin-top: 90px;
  margin-bottom: 90px;
}
.main-container input {
  padding: 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 250px;
  margin-right: 7px;
}
.main-container input:hover {
  border: solid 2px var(--orange);
}
.main-container input::placeholder {
  font-size: 1.6rem;
}
.main-container button {
  padding: 16px;
  color: var(--white);
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  box-sizing: border-box;
  margin-left: 60px;
  width: 215px;
}

@media screen and (max-width: 600px) {
  ul li {
    font-size: 1.2rem;
  }
  main {
    margin-left: 5%;
    margin-right: 5%;
  }
  .main-container form {
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .main-container input {
    margin-bottom: 10px;
  }
  .main-container button {
    margin-left: 0;
  }
}
