.header__nav {
  display: flex;
  justify-content: flex-end;
  height: 7rem;
  background-color: var(--black-opacity);
  z-index: 0;
  padding: 0 5% 0 5%;
}
.header__ul {
  display: flex;
  align-items: center;
  opacity: 1;
}
.header__li {
  padding: 10px 30px 10px 30px;
  font-size: 1.6rem;
  list-style: none;
  color: var(--white);
  font-weight: 400;
  cursor: pointer;
}
.header--register {
  background-color: var(--orange);
  border-radius: 5px;
}
.header--register:hover {
  background-color: var(--light-orange);
}
.header--login:hover {
  color: var(--orange);
}

@media screen and (max-width: 600px) {
  .header__li {
    font-size: 1.2rem;
  }
}
